:root {
  --main-color: rgba(60, 70, 134, 0.877);
  --skyblue: skyblue;
  --blue: rgb(73, 173, 212);
  --blue-opacity: rgba(60, 70, 134, 0.758);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-row {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding-section {
  padding: 100px;
  padding-bottom: 70px;
}
.img-prop {
  height: auto;
  width: 100%;
}
.padding-content {
  padding-top: 100px;
  padding-bottom: 0;
}
body {
  /* width: 1850px;
    translate: 300px; */
  counter-reset: increment;
}
.Home {
  height: 100vh;
  background-color: var(--main-color);
  /* padding-inline: 100px; */
  /* translate: 0 11.09%; */
}

.Home header {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(60, 70, 134, 0.758);
  z-index: 1;
}

.navebar {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  padding-inline: 100px;
}

.logo {
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}
.list-iteam {
  display: inline;
  font-size: 22px;
  padding-inline: 20px;
  padding-block: 10px;
  text-transform: capitalize;
}

.active {
  color: skyblue;
}
.border a {
  padding-inline: 30px;
  padding-block: 10px;
  border: 2px skyblue solid;
  border-radius: 22px;
  transition: background-color 1s;
}
a:hover {
  color: skyblue;
}
a {
  color: white;
  text-decoration: none;
}

.border a:hover {
  border: 2px var(--skyblue) solid;
  color: white;
  background-color: var(--skyblue);
  border-radius: 22px;
}

.Home-content {
  height: 90%;
  /* background-color: aquamarine; */
  translate: 0 11%;
  display: flex;
}
.Home-content .right {
  width: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Home-content .left {
  width: 50%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.font-left {
  font-size: 70px;
  color: white;
}
.font-p {
  color: #aaa;
  font-size: 30px;
  margin-bottom: 15px;
}

.Home-content .left a {
  padding-inline: 25px;
  padding-block: 15px;
  background-color: rgb(73, 173, 212);
  border-radius: 25px;
}
.btns {
  width: 100%;
  display: flex;
  color: white;
}
.btns a {
  padding-block: 12px;
  margin-top: 2px;
  transition: background-color 1s;
  font-size: 20px;
}
.btns a:hover {
  background-color: white;
  color: var(--blue);
}

.Home-content .icon {
  margin-left: 20px;
  margin-top: 8px;
}
.Home-content .icon i {
  font-size: 10px;
  border: 2px white solid;
  border-radius: 50%;
  padding: 10px;
}
.p-icone {
  margin-top: 15px;
  margin-left: 5px;
}

.Home-content .right img {
  animation: up-down 3s ease-out infinite;
}
@keyframes up-down {
  0% {
    translate: 0 -15px;
  }
  50% {
    translate: 0 15px;
  }
  100% {
    translate: 0 -15px;
  }
}

/* End Of Home Section */

/* Start Of About US Section */

.aboutus header {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e9e9e9;
}
.aboutus-img {
  height: auto;
  width: 100px;
  transition: 1s;
}
.aboutus-img:hover {
  scale: 1.2;
}
.aboutus-content {
  padding-bottom: 20px;
}
.content-head {
  font-size: 42px;
  color: var(--main-color);
  position: relative;
  font-weight: bold;
}
.content-head::before {
  content: "";
  height: 3px;
  width: 150px;
  background-color: #aaa;
  position: absolute;
  left: 15%;
  bottom: -15px;
}
.content-head::after {
  content: "";
  height: 3px;
  width: 50px;
  background-color: var(--skyblue);
  position: absolute;
  left: 40%;
  bottom: -15px;
  border-radius: 2px;
}
.aboutus-content .content {
  padding-block: 100px;
  width: 100%;
}
.aboutus-content .left {
  width: 50%;
}
.aboutus-content .right {
  width: 50%;
}

.content p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.874);
  line-height: 28px;
}

.content .left p:first-child {
  padding-bottom: 20px;
}

.check::before {
  content: "\10f007";
  font-size: 20px;
  font-family: "Font Awesome 5 Duotone";
  font-weight: 900;
  background: url("\10f007");
}

.a-about {
  padding-inline: 28px;
  padding-block: 10px;
  font-size: 20px;
  border: 3px var(--skyblue) solid;
  translate: 0 15px;
  color: var(--skyblue);
  background-color: #e9e9e97a;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
}

.p-R-content {
  margin-bottom: 60px;
}

.a-about:hover {
  color: white;
  background-color: var(--skyblue);
  transition: 0.5s;
}
p + .check {
  line-height: 40px;
}

/* End Of About Us Section */

/* Start Of Why Us Section */
.why-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e9e9e983;
}
.why-us-contnet {
  display: flex;
  gap: 80px;
}
.L-why-us {
  width: 50%;
}
.L-why-us img {
  height: auto;
  width: 100%;
}

.R-why-us {
  width: 50%;
}
.R-why-us p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.874);
  line-height: 28px;
  color: #878484;
}

.why-us-contnet {
  padding-top: 100px;
}
.title {
  font-size: 40px;
  color: var(--main-color);
  letter-spacing: 2px;
  font-weight: 300;
  padding-bottom: 15px;
}
.title span {
  font-weight: 600;
}

.accordion {
  overflow: hidden;
  margin-block: 20px;
}
.accordion-button {
  width: 100%;
  background-color: white;
  border: white;
  text-align: left;
  padding-block: 20px;
  padding-inline: 15px;
  font-size: 20px;
  position: relative;
  counter-increment: increment;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion-button::before {
  content: "0" counter(increment) " ";
  color: var(--blue);
  font-size: 28px;
}
.accordion-button::after {
  content: "";
  height: 8px;
  width: 8px;
  border: 2.5px black solid;
  rotate: 45deg;
  position: absolute;
  border-color: transparent black black transparent;
  right: 30px;
  top: 45%;
}
.accordion p {
  color: black;
}

.accordion-content {
  max-height: 0;

  overflow: hidden;
  background-color: white;
  transition: max-height 0.5s ease-out;
}

.accordion-content p {
  padding: 0 15px 25px 15px;
}

/* End Of Why Us Section */

/* Start Of Skills Section */
.skills {
  padding-inline: 60px;
}
.skills-content {
  gap: 80px;
}
.skills-left {
  width: 50%;
}
.skills-right {
  width: 50%;
  align-items: flex-start;
  justify-content: flex-start;
}

.skills .title {
  font-weight: bold;
  letter-spacing: 0;
  font-family: sans-serif;
}

.skills-p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.819);
  font-style: italic;
  line-height: 30px;
}

.bars {
  width: 100%;
  padding-block: 18px;
  translate: 0 20px;
}
.bar {
  padding-bottom: 35px;
}
.bar-content {
  width: 100%;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  padding-bottom: 10px;
}

.bar-level {
  height: 15px;
  width: 100%;
  background-color: #eee;
  position: relative;
}
.bar-level::after {
  content: "  ";
  position: absolute;
  height: 10px;
  width: 50%;
  background-color: var(--main-color);
  animation: level 1.5s ease-in-out 1;
}
.level-css::after {
  width: 70%;
}
.level-js::after {
  width: 60%;
}
.level-asp::after {
  width: 85%;
}
.level-c::after {
  width: 55%;
}
.level-db::after {
  width: 78%;
}
@keyframes level {
  from {
    width: 15%;
  }
  to {
    width: width;
  }
}

/* End Of Skills Section */

/* Start Of Servise Section */
.service {
  justify-content: space-evenly;
  background-color: #eeeeee6b;
}
.service > * {
  padding-bottom: 50px;
}

.base::after {
  bottom: 25px;
  left: 40px;
}
.base::before {
  bottom: 25px;
  left: 15px;
  width: 100px;
}
.service p {
  font-size: 22px;
  line-height: 35px;
  font-family: sans-serif;
}

.card {
  width: calc(100% / 4);
  box-shadow: 0px 0px 35px 10px #d3d3d3;
  gap: 0;

  padding: 50px;
  color: rgba(0, 0, 0, 0.721);
  transition: translate 0.3s;
  align-items: flex-start;
}
.card > * {
  padding-block: 10px;
}
.card i {
  font-size: 40px;
  color: var(--blue);
}

.title-card {
  font-size: 32px;
  letter-spacing: 1.5px;
  transition: translate 0.3s;
}
.card p {
  font-size: 20px;
}

.card:hover {
  translate: 0 -15px;
}
.card:hover .title-card {
  color: var(--blue);
}
/* End Of Servise Section */

/* Start Of Call-to-action Section */
.call-to-action {
  position: relative;
  height: 450px;
}
.background {
  position: relative;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}
.call-to-action img {
  width: 100%;
  position: absolute;
  top: -100px;
  z-index: -5;
  filter: blur(1px);
}
.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(31, 31, 58);
  opacity: 0.6;
  top: 0;
}
.cta-content {
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: space-between;
  align-items: center;
}
.cta-left {
  width: 80%;
  font-family: sans-serif;
  color: white;
}
.cta-left > * {
  padding-bottom: 20px;
}

/* General Class */
.normal-title {
  font-size: 35px;
}
.normal-p {
  font-size: 22px;
  line-height: 30px;
}

.normal-btn {
  font-size: 18px;
  color: white;
  padding-inline: 25px;
  padding-block: 15px;
  border-radius: 22px;
  font-family: sans-serif;
  transition: background-color 1s;
  transition: color 0.5s;
  border: white 3px solid;
}
.normal-btn:hover {
  background-color: white;
  color: var(--blue);
}
/* End of General Class */

.cta-btn {
  font-size: 22px;
  padding-block: 20px;
  padding-inline: 40px;
  border-radius: 30px;
  position: relative;
  z-index: 11;
}
/* End Of Call-to-action Section */

/* Start Of portfolio Section */
.portfolio > * {
  margin-bottom: 50px;
  /* background-color: red; */
}
.portfolio p {
  text-align: center;
  font-family: sans-serif;
}
.nav-iteam a {
  color: black;
  font-family: sans-serif;
  /* padding-inline: 30px;
  padding-block:12px; */
}
.nav-iteam a:hover {
  background-color: var(--blue);
  color: white;
  border-radius: 28px;
  cursor: pointer;
}

.nav-iteam .active {
  background-color: var(--blue);
  color: white;
  border-radius: 28px;
  cursor: pointer;
}
.portfolio ul {
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
}
.portfolio .list-iteam {
  padding: 0;
}

.products-display {
  width: 100%;
  padding-top: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 39px;
  row-gap: 8px;
}
.prod-card {
  width: 300px;
  height: auto;
  /* background-color: greenyellow; */
  position: relative;
  color: white;
  overflow: hidden;
}

.prod-card img {
  width: 100%;
  position: relative;
  transition: scale 0.5s;
}

.prod-card:hover img {
  scale: 1.2;
}

.card-footer {
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  background-color: var(--blue-opacity);
  transition: bottom 0.5s;
  position: absolute;
  bottom: -70px;
}

.prod-card:hover .card-footer {
  bottom: 0;
}

.L-contain {
  align-items: flex-start;
}
.R-contain {
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.R-contain i {
  font-size: 22px;
}
.L-contain > * {
  margin: 0;
  margin-bottom: 4px;
}

/* End Of portfolio Section */

/* Start Of Team Section */
.team {
  background-color: #eee;
}
.team > * {
  margin-bottom: 60px;
}

.team-head::before {
  left: 12px;
  width: 110px;
}
.team-head::after {
  left: 40px;
}

.team p {
  text-align: center;
}
.team-cards {
  width: 100%;
  /* background-color: green; */
  /* gap: 40px; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-team {
  width: calc(100% / 2 - 30px);
  /* background-color: greenyellow; */
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 35px 10px #d3d3d3;
  background-color: rgba(255, 255, 255, 0.707);
  border-radius: 5px;
  transition: translate 0.8s;
}
.card-team:hover {
  translate: 0 -15px;
}
.card-team img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.carde-team-content {
  align-items: flex-start;
  font-family: sans-serif;
}
.carde-team-content > * {
  margin-bottom: 15px;
}
.carde-team-content p {
  text-align: left;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.814);
}
.line {
  height: 2px;
  width: 60px;
  background-color: #aaa;
}
.name {
  color: var(--main-color);
}

.card-icons i {
  font-size: 30px;
  color: var(--main-color);
  background-color: #eeeeee4b;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

.card-icons i:hover {
  background-color: var(--blue);
  color: white;
}
/* Start Of Team Section */

/* Start Of Team Section */
.pricing > * {
  margin-bottom: 50px;
}

.catigory {
  color: rgba(0, 0, 0, 0.825);
  font-family: sans-serif;
}
.price-head::before {
  left: 15px;
}
.price-head::after {
  left: 60px;
}
.pricing p {
  text-align: center;
}
.pricing-cadrs {
  width: 100%;
}
.card-pric {
  width: calc(100% / 3 - 15px);
  padding: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 0px 15px 1px #d3d3d34b;
}
.card-pric > * {
  margin-bottom: 25px;
}
.catigory,
sup {
  font-size: 32px;
}

.money {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.825);
}
.descrip-price {
  color: var(--blue);
}
.price-ul {
  color: #8a8888;
  font-size: 24px;
}
.price-ul li {
  line-height: 40px;
}
.price-ul li::before {
  content: "* ";
}
.overline {
  text-decoration: line-through;
}
.card-pric .normal-btn {
  color: var(--blue);
  border-color: var(--blue);
}
.card-pric .normal-btn:hover {
  color: white;
  border-color: var(--blue);
  background-color: var(--blue);
}
/* End Of Team Section */

/* Start Of FAQ Section */
.faq > * {
  margin-bottom: 60px;
}
.faq {
  background-color: #eee;
}
.faq-head::before {
  width: 500px;
}
.faq-head::after {
  width: 200px;
  left: 250px;
}
.faq p {
  text-align: center;
}

.faq-content {
  width: 65%;
}
.faq-content .accordion-button::before {
  content: "*";
}
.faq-content .accordion-button {
  color: var(--blue);
}

.faq-content .accordion-content p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.871);
  font-family: sans-serif;
  text-align: left;
}
/* End Of FAQ Section */

/* Start Of Contact Section */
.contact > * {
  margin-bottom: 60px;
}

.contact p {
  text-align: center;
}

.content-contact {
  width: 100%;
  background-color: red;
}

.L-contact {
  width: 40%;
  background-color: green;
  padding: 25px;
}
.info {
  align-items: flex-start;
  font-family: sans-serif;
}
.info > * {
  margin-bottom: 10px;
}
.iteam {
  width: 100%;
  align-items: center;
}
.iteam i {
  font-size: 28px;
  padding: 12px;
  padding-inline: 14px;
  background-color: #e9e9e955;
  border-radius: 50%;
  color: var(--blue);
}

.info p {
  font-size: 18px;
  color: #aaa;
}
.info h2 {
  font-weight: 500;
  color: var(--main-color);
}

.L-contact > * {
  margin-bottom: 30px;
}
